/* Header styles */

.header {
  width: 100%;
  height: 50px;
  background: #2e3440;
  display: grid;
  justify-content: center;
  grid-template: 1fr / 75%;
  position: relative;
  font-family: "Roboto Mono";
  z-index: 10;
}

.header-container {
  height: 100%;
  display: grid;
  align-content: center;
  grid-template: 1fr / 1fr 1fr;
}

.header-title {
  color: #e5e9f0;
  font-size: 25px;
  font-weight: 800;
  display: inline-block;
  height: 100%;
  line-height: 50px;
  left: 0;
  justify-self: start;
  cursor: pointer;
  transition: 0.2s linear;
}

.header-title:hover {
  text-shadow: 0 0px 5px #e5e9f0;
}

.header-searcher {
  width: 250px;
  position: relative;
  height: 30px;
  justify-self: end;
  align-self: center;
  overflow: hidden;
  border-radius: 10px;
}

.header-searcher:focus {
  border: 5px solid #fff;
}

#search {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 0;
  background: #e5e9f0;
  color: #2e3440;
  padding: 0 38px 0 15px;
  font-weight: 800;
  position: absolute;
  left: 0;
}

#search:focus {
  outline: none;
}

.search-icon_box {
  width: 32px;
  height: 30px;
  cursor: pointer;
  display: grid;
  position: absolute;
  padding-right: 2px;
  right: 0;
  top: 0;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.search-icon {
  display: inline;
  width: 20px !important;
  height: 20px;
  top: 0;
  right: 5px;
  line-height: 30px;
  color: #2e3440;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 590px) {
  .header {
    height: 60px;
    grid-template: 1fr / 1fr;
    padding: 0 20px;
  }

  .header-title {
    line-height: 60px;
  }

  .header-searcher {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #e5e9f0;
    transition: 0.2s linear;
  }

  .header-searcher:hover {
    box-shadow: 0 0 5px 1px #e5e9f0;
  }

  #search {
    transform: translate(100%, 0);
    display: none;
  }

  .search-icon {
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
    line-height: 34px;
  }
}

.searcher_active {
  width: 200px;
  border-radius: 30px;
}

.searcher_active #search {
  display: block;
  transform: translate(0, 0);
}

.searcher_active:hover {
  box-shadow: none;
}

/* The end of header styles */