/* NotificationsBlock styles */

.tp-notifications-block {
  display: flex;
  position: fixed;
  width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 10px 10px 10px 10px;
  flex-direction: column-reverse;
  z-index: 3;
}

.tp-notification {
  position: relative;
  z-index: 100;
}

@media (max-width: 820px) {
  .tp-notifications-block {
    display: none;
  }
}

/* end of NotificationsBlock styles */