.Main {
  font-size: 50px;
  font-weight: 800;
  height: 700px;
  display: grid;
  place-items: center;
}

.main-title {
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
}
